<div class="col-md-12 reset-password-page" ng-show="vm.showPage">
	<div class="rp-div1 col-md-6 col-md-offset-3">
		<img src="../assets/images/logo1.png">
		<form class="resetPassword-fields" method="post" name="resetPasswordForm" ng-submit="vm.setPassword(resetPasswordForm);" novalidate>
			<h3>Reset Password </h3>
			<div class="AdvertiserDetails">
				<span><img src="../assets/images/lock.png"></span>
				<input type="password" name="password" placeholder="New Password" ng-model="vm.password" ng-minlength="3" required>
				<label >New Password</label>
				<label for="name" ng-show="resetPasswordForm.$submitted && resetPasswordForm.password.$error.required" class="error">This field is required.</label>
				<label for="name" ng-show="resetPasswordForm.$submitted && resetPasswordForm.password.$error.minlength" class="error">Password should contain atleast 3 characters.</label>
			</div>
			<div class="AdvertiserDetails">
				<span><img src="../assets/images/lock.png"></span>
				<input type="password" name="confirmPassword" placeholder="Confirm New Password" ng-model="vm.confirmPassword" ng-minlength="3" required>
				<label >Confirm New Password</label>
				<label for="name" ng-show="resetPasswordForm.$submitted && resetPasswordForm.confirmPassword.$error.required" class="error">This field is required.</label>
				<label for="name" ng-show="resetPasswordForm.$submitted && resetPasswordForm.confirmPassword.$error.minlength" class="error">Password should contain atleast 3 characters.</label>
			</div>
			<button type="submit" class="btn rp-btn" ng-disabled="vm.isDisabled" ng-click="submit">Submit</button>
		</form>
	</div>
</div>
<div ng-hide="vm.showPage">
<h3 class="text-uppearcase text-center">Invalid Or expired Token</h3>
</div>
