.reset-password-page{
	@extend .text-center;
	background-color: map-get($colors,white);
	height: 100vh;
	position: map-get($positions,relative);
}
.rp-div1{
	position: map-get($positions,absolute);
	top:20%;
}
.resetPassword-fields{
	@extend .login-credentials;
	margin-top: 30px;
}
.rp-btn{
	@extend %btn-primary-small;
}